/* right hanger */
.RightHangerStyle {
    position: fixed;
    top: 40%;
    right: 10px;
    width: 50px;
    height: 100%;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  
.RightHangerStyle div {
  white-space: nowrap;
  background-color: #0d1117;
  padding: 7px;
  border-radius: 25px;
  display: inline-block;
}

@media (max-width: 800px) {
  .RightHangerStyle {
      display: none;
  }
  .RightLineStyle {
    display: none;
  }
}

.RightLineStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 32px; /* adjust as needed */
  width: 3px; /* adjust as needed */
  background: #22262e; /* adjust color as needed */
  z-index: 1;
}

/* Left Hanger */

.LeftHangerStyle {
  position: fixed;
  bottom: 50%;
  left: 10px;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.LeftHangerStyle div {
  white-space: nowrap;
  background-color: #0d1117;
  padding: 7px;
  border-radius: 25px;
  display: inline-block;
}

.LeftLineStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 27px; /* adjust as needed */
  width: 3px; /* adjust as needed */
  background: #22262e; /* adjust color as needed */
  z-index: 1;
}

@media (max-width: 800px) {
  .LeftHangerStyle {
      display: none;
  }
  .LeftLineStyle {
    display: none;
  }
}


/* Z-index */

.RightHangerStyle,
.LeftHangerStyle {
  z-index: 2;
}