.RightHangerStyle {
    position: fixed;
    top: 170px;
    right: 10px;
    width: 50px;
    height: 100%;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  
.RightHangerStyle div {
  white-space: nowrap;
  border: 3px solid #22262e;
  padding: 7px;
  border-radius: 25px;
  display: inline-block;
}

@media (max-width: 800px) {
  .RightHangerStyle {
      display: none;
  }
}

.LeftHangerStyle {
  position: fixed;
  bottom: 200px;
  left: 10px;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.LeftHangerStyle div {
  white-space: nowrap;
  border: 3px solid #22262e;
  padding: 7px;
  border-radius: 25px;
  display: inline-block;
}

@media (max-width: 800px) {
.LeftHangerStyle {
    display: none;
}
}